<% provide(:title, 'Create a new skill') %>
<h1>Create a new skill</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@skill) do |f| %>
      <%= render 'shared/error1_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :level %>
      <%= f.text_field :level %>

      <%= f.label :num_years %>
      <%= f.text_field :num_years %>

      <%= f.submit "Create skill", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>